NGESysClient/Connected Services/GeneralServiceReference/GeneralService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GeneralService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55660/GeneralService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55660/GeneralService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeneralService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_LoginAccountName_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccountName" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_LoginAccountName_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAccountNameResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_GetStaffPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffPosition" />
  </wsdl:message>
  <wsdl:message name="IGeneralService_GetStaffPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffPositionResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeneralService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/Login" message="tns:IGeneralService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/LoginResponse" message="tns:IGeneralService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAccountName">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/LoginAccountName" message="tns:IGeneralService_LoginAccountName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/LoginAccountNameResponse" message="tns:IGeneralService_LoginAccountName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaffPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneralService/GetStaffPosition" message="tns:IGeneralService_GetStaffPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneralService/GetStaffPositionResponse" message="tns:IGeneralService_GetStaffPosition_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGeneralService" type="tns:IGeneralService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAccountName">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/LoginAccountName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaffPosition">
      <soap:operation soapAction="http://tempuri.org/IGeneralService/GetStaffPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeneralService">
    <wsdl:port name="BasicHttpBinding_IGeneralService" binding="tns:BasicHttpBinding_IGeneralService">
      <soap:address location="http://localhost:55660/GeneralService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>